@import "../../.cache/wal/colors-waybar.css";

* {
    font-size:20px;
    font-family: "CodeNewRoman Nerd Font Propo";
}
window#waybar{
    all:unset;
    background: alpha(@background,.85);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}
.modules-right,
.modules-center,
.modules-left {
    margin: 10 10;
}
tooltip {
    background:@background;
    color: @color7;
}
#clock:hover, 
#custom-notification:hover,
#bluetooth:hover,
#network:hover,
#battery:hover, 
#cpu:hover,
#memory:hover,
#power-profiles-daemon:hover,
#tray menu *:hover,
#temperature:hover {
    transition: all .3s ease;
    color:@color9;
}
#custom-notification {
    padding: 0px 5px;
    transition: all .3s ease;
    color:@color7;
}
#clock{
    color:@foreground;
    transition: all .3s ease;
}
#workspaces {
    padding: 0px 5px;
}
#workspaces button {
    all:unset;
    padding: 0px 5px;
    color: alpha(@color3,.9);
    transition: all .2s ease;
}
#workspaces button:hover {
    color:@color4;
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 0.3s ease;
}
#workspaces button.active {
    color: @foreground;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
#workspaces button.empty {
    color: rgba(0,0,0,0);
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}
#workspaces button.empty:hover {
    color: rgba(0,0,0,0);
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}
#workspaces button.empty.active {
    color: @color9;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
#power-profiles-daemon,
#bluetooth,
#network {
  padding: 0px 5px;
  color: @foreground;
  transition: all .3s ease;
}

#group-expand{
    padding: 0px 5px;
    transition: all .3s ease; 
}
#custom-expand{
    padding: 0px 5px;
    color:alpha(@foreground,.2);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .7);
    transition: all .3s ease; 
}
#custom-expand:hover{
    color:alpha(@foreground,.2);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, .5);
}
#custom-colorpicker{
    padding: 0px 5px;
}
#cpu,#memory,#temperature{
    padding: 0px 5px;
    transition: all .3s ease; 
    color:@foreground;

}
#custom-endpoint{
    color:transparent;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 1);

}
#tray,
#tray menu *,
#tray menu separator {
    padding-top: 2px;
    transition: all .3s ease; 
    color: @foreground;
}