<settings>
    <setting id="videoosd.hidenotification" type="bool">false</setting>
    <setting id="enablecolorfilter" type="bool">false</setting>
    <setting id="background.hidefanart" type="bool">false</setting>
    <setting id="skinhelper.view.disabled.550" type="bool">false</setting>
    <setting id="home.transparent" type="bool">false</setting>
    <setting id="showosdscrollingtext" type="bool">false</setting>
    <setting id="infoshowpath" type="bool">false</setting>
    <setting id="header.tilefollowsnode" type="bool">false</setting>
    <setting id="skinhelper.forcedviews.enabled" type="bool">false</setting>
    <setting id="furniture.showflags" type="bool">false</setting>
    <setting id="skinhelper.enablepvrthumbs" type="bool">true</setting>
    <setting id="skinhelper.view.disabled.52" type="bool">false</setting>
    <setting id="header.colormatch" type="bool">false</setting>
    <setting id="disable.weatherheader" type="bool">false</setting>
    <setting id="debuginfo" type="bool">false</setting>
    <setting id="showanimate.poster" type="bool">false</setting>
    <setting id="osdblackscreen" type="bool">false</setting>
    <setting id="global.eminenceonestyle" type="bool">false</setting>
    <setting id="artistslideshow.enabled" type="bool">false</setting>
    <setting id="furniture.flags.extradetail" type="bool">false</setting>
    <setting id="skinhelper.enableextrafanart" type="bool">false</setting>
    <setting id="SkinShortcuts-FullMenu" type="bool">true</setting>
    <setting id="Store_Widget7_Genres" type="bool">true</setting>
    <setting id="global.showdialogshadows" type="bool">false</setting>
    <setting id="indicator.new" type="bool">false</setting>
    <setting id="artistslideshow.animate" type="bool">false</setting>
    <setting id="skinhelper.enablemusicart" type="bool">true</setting>
    <setting id="disable.mainheader" type="bool">false</setting>
    <setting id="home.tilecolor.nofocus" type="bool">false</setting>
    <setting id="background.animate" type="bool">true</setting>
    <setting id="indicator.resume" type="bool">false</setting>
    <setting id="skinhelper.enableextendedart" type="bool">false</setting>
    <setting id="osdnoinfo" type="bool">false</setting>
    <setting id="indicator.watched" type="bool">false</setting>
    <setting id="skinhelper.view.disabled.55" type="bool">false</setting>
    <setting id="home.showdiscart" type="bool">false</setting>
    <setting id="furniture.hidehubplot" type="bool">false</setting>
    <setting id="Store_Widget8_Landscape" type="bool">true</setting>
    <setting id="global.hideobjectshadows" type="bool">false</setting>
    <setting id="switchsides" type="bool">false</setting>
    <setting id="music.autovis" type="bool">false</setting>
    <setting id="osdvisualisation.showfanart" type="bool">false</setting>
    <setting id="music.showuserratings" type="bool">false</setting>
    <setting id="home.hidewidgetbox" type="bool">false</setting>
    <setting id="horizontalmenus" type="bool">false</setting>
    <setting id="header.mainheadercount" type="bool">false</setting>
    <setting id="lists.dontshowextralabels" type="bool">false</setting>
    <setting id="skinhelper.view.disabled.59" type="bool">false</setting>
    <setting id="widgets.persistent" type="bool">false</setting>
    <setting id="skinhelper.view.disabled.525" type="bool">false</setting>
    <setting id="osd.showclearart" type="bool">false</setting>
    <setting id="skinhelper.view.disabled.51" type="bool">false</setting>
    <setting id="skinhelper.view.disabled.553" type="bool">false</setting>
    <setting id="skinhelper.view.disabled.500" type="bool">false</setting>
    <setting id="background.showvideo" type="bool">true</setting>
    <setting id="background.showvisualisation" type="bool">false</setting>
    <setting id="furniture.hidesortinfo" type="bool">false</setting>
    <setting id="global.fanart" type="bool">false</setting>
    <setting id="showosddiffusecolors" type="bool">false</setting>
    <setting id="widgets.donthidemenu" type="bool">false</setting>
    <setting id="Store_Widget3_Genres" type="bool">true</setting>
    <setting id="skinhelper.view.disabled.56" type="bool">false</setting>
    <setting id="store_init" type="bool">true</setting>
    <setting id="home.disableplayercontrols" type="bool">false</setting>
    <setting id="videoosd.showinfo" type="bool">false</setting>
    <setting id="skinhelper.view.disabled.58" type="bool">false</setting>
    <setting id="skinhelper.view.disabled.510" type="bool">false</setting>
    <setting id="home.tilecolor" type="bool">false</setting>
    <setting id="musicvis.fanartfallback" type="bool">false</setting>
    <setting id="furniture.overlayinfo" type="bool">false</setting>
    <setting id="kioskmode" type="bool">false</setting>
    <setting id="disableshowcase" type="bool">false</setting>
    <setting id="skinhelper.view.disabled.57" type="bool">false</setting>
    <setting id="disablevideolyrics" type="bool">false</setting>
    <setting id="skinhelper.view.disabled.53" type="bool">false</setting>
    <setting id="skinhelper.view.disabled.577" type="bool">false</setting>
    <setting id="skinhelper.view.disabled.54" type="bool">false</setting>
    <setting id="disable.clockheader" type="bool">false</setting>
    <setting id="horizontallistnav" type="bool">false</setting>
    <setting id="Store_Widget6_Landscape" type="bool">true</setting>
    <setting id="skinhelper.view.disabled.535" type="bool">false</setting>
    <setting id="indicator.unwatchedepisodes" type="bool">false</setting>
    <setting id="global.widescreen" type="bool">false</setting>
    <setting id="skinhelper.disablescreensaveronfullscreenmusic" type="bool">false</setting>
    <setting id="skinhelper.enableanimatedposters" type="bool">false</setting>
    <setting id="enableartworkdownloader" type="bool">false</setting>
    <setting id="home.fallbackwidget.name" type="string"></setting>
    <setting id="widget.1105.label" type="string"></setting>
    <setting id="skin.forcedview.seasons" type="string"></setting>
    <setting id="Store_Widget8_Target" type="string">videos</setting>
    <setting id="widget.1106.type" type="string"></setting>
    <setting id="Store_Widget5_Content" type="string">special://skin/extras/playlists/RecentShows.xsp</setting>
    <setting id="Store_Widget2_Target" type="string">videos</setting>
    <setting id="widget.1106.label" type="string"></setting>
    <setting id="Store_Widget1_Content" type="string">videodb://recentlyaddedmovies</setting>
    <setting id="Store_Widget4_Target" type="string">videos</setting>
    <setting id="widget.1108.type" type="string"></setting>
    <setting id="widget.1109.type" type="string"></setting>
    <setting id="widget.1104" type="string"></setting>
    <setting id="Store_Widget7_Title" type="string">TV show Genres</setting>
    <setting id="widget.1108" type="string"></setting>
    <setting id="skin.forcedview.years" type="string"></setting>
    <setting id="home.headericon" type="string"></setting>
    <setting id="skin.forcedview.musicvideos" type="string"></setting>
    <setting id="skin.forcedview.unknown" type="string"></setting>
    <setting id="skin.forcedview.playlists" type="string"></setting>
    <setting id="background.fallback" type="string"></setting>
    <setting id="home.fallbackwidget" type="string"></setting>
    <setting id="home.style" type="string">Default</setting>
    <setting id="skinhelper.skinhelper.spinnertexture.path" type="string"></setting>
    <setting id="skinhelper.spinnertexture" type="string"></setting>
    <setting id="fanart.opacity" type="string"></setting>
    <setting id="widget.1109.label" type="string"></setting>
    <setting id="home.subheadertext" type="string"></setting>
    <setting id="Store_Widget2_Content" type="string">special://skin/extras/playlists/RecentMovies.xsp</setting>
    <setting id="skin.forcedview.videos" type="string"></setting>
    <setting id="skin.forcedview.studios" type="string"></setting>
    <setting id="skin.forcedview.images" type="string"></setting>
    <setting id="skinhelper.autoclosemusicosd" type="string"></setting>
    <setting id="widget.1103.label" type="string"></setting>
    <setting id="skin.forcedview.episodes" type="string"></setting>
    <setting id="home.fallbackwidget.node" type="string"></setting>
    <setting id="widget.1104.label" type="string"></setting>
    <setting id="home.mainheadertext" type="string">Media Center</setting>
    <setting id="home.headertext" type="string">Home</setting>
    <setting id="Store_Widget7_Target" type="string">videos</setting>
    <setting id="widget.1103" type="string"></setting>
    <setting id="skin.forcedview.actors" type="string"></setting>
    <setting id="widget.1107.label" type="string"></setting>
    <setting id="skin.forcedview.tvshows" type="string"></setting>
    <setting id="skin.forcedview.sets" type="string"></setting>
    <setting id="highlightcolor" type="string"></setting>
    <setting id="highlightcolor2" type="string"></setting>
    <setting id="skinshortcuts-sharedmenu" type="string">true</setting>
    <setting id="Store_Widget3_Content" type="string">videodb://movies/genres</setting>
    <setting id="widget.1103.type" type="string"></setting>
    <setting id="home.widgetposters" type="string">Always</setting>
    <setting id="skinhelper.autoclosevideoosd" type="string"></setting>
    <setting id="Store_Widget8_Title" type="string">Random episodes</setting>
    <setting id="skin.forcedview.artists" type="string"></setting>
    <setting id="widget.1105" type="string"></setting>
    <setting id="Store_Widget7_Content" type="string">videodb://tvshows/genres</setting>
    <setting id="SkinHelper.ShowInfoAtPlaybackStart" type="string"></setting>
    <setting id="widget.1101" type="string"></setting>
    <setting id="Store_Widget2_Title" type="string">Recently viewed movies</setting>
    <setting id="Store_Widget3_Target" type="string">videos</setting>
    <setting id="widget.1107.type" type="string"></setting>
    <setting id="Store_Widget6_Title" type="string">Recently added episodes</setting>
    <setting id="Store_Widget6_Target" type="string">videos</setting>
    <setting id="widget.1102.type" type="string"></setting>
    <setting id="Store_Widget8_Content" type="string">special://skin/extras/playlists/RandomEpisodes.xsp</setting>
    <setting id="skin.forcedview.albums" type="string"></setting>
    <setting id="skin.forcedview.countries" type="string"></setting>
    <setting id="skin.forcedview.movies" type="string"></setting>
    <setting id="Store_Widget1_Title" type="string">Recently added movies</setting>
    <setting id="startupplaylist" type="string"></setting>
    <setting id="skin.forcedview.games" type="string"></setting>
    <setting id="Store_Widget1_Target" type="string">videos</setting>
    <setting id="widget.1106" type="string"></setting>
    <setting id="skin.forcedview.tags" type="string"></setting>
    <setting id="skin.forcedview.mixed" type="string"></setting>
    <setting id="home.fallbackwidget.target" type="string"></setting>
    <setting id="Store_Widget3_Title" type="string">Movie Genres</setting>
    <setting id="SkinHelper.StudioLogos.Path" type="string"></setting>
    <setting id="widget.1105.type" type="string"></setting>
    <setting id="skin.forcedview.songs" type="string"></setting>
    <setting id="skin.forcedview." type="string"></setting>
    <setting id="Store_Widget4_Title" type="string">Random movies</setting>
    <setting id="skin.forcedview.directors" type="string"></setting>
    <setting id="Store_Widget5_Target" type="string">videos</setting>
    <setting id="Store_Widget5_Title" type="string">In progress TV shows</setting>
    <setting id="widget.1108.label" type="string"></setting>
    <setting id="widget.1109" type="string"></setting>
    <setting id="Store_Widget4_Content" type="string">special://skin/extras/playlists/RandomMovies.xsp</setting>
    <setting id="widget.1104.type" type="string"></setting>
    <setting id="skin.forcedview.addons" type="string"></setting>
    <setting id="skin.forcedview.files" type="string"></setting>
    <setting id="Store_Widget6_Content" type="string">videodb://recentlyaddedepisodes</setting>
    <setting id="weather.icons.path" type="string"></setting>
    <setting id="skin.forcedview.genres" type="string"></setting>
    <setting id="widget.1102.label" type="string"></setting>
    <setting id="widget.1101.label" type="string"></setting>
    <setting id="widget.1102" type="string"></setting>
    <setting id="widget.1107" type="string"></setting>
    <setting id="widget.1101.type" type="string"></setting>
    <setting id="global.background" type="string"></setting>
</settings>
