[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=chromium --kiosk https://soundcloud.com
Name=Soundcloud
Icon=/path/to/icon
